In [1]:
import pymongo as mongo
import pandas as pd
import csv

In [2]:
#mongodb://localhost:27017

In [3]:
client = mongo.MongoClient('mongodb://localhost:27017/')

In [4]:
db = client.recommender_app_data

In [5]:
collection = db.books_data

In [6]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'recommender_app_data'), 'books_data')

In [7]:
cursor = collection.find()

In [8]:
collection.count_documents({})

1031136

In [9]:
data = list(cursor)

In [13]:
df = pd.DataFrame(data, index = None)

In [15]:
df

,_id,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location,Age,Book-Rating
0,64f82f0e014264594d46d867,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,"stockton, california, usa",18.0,0
1,64f82f0e014264594d46d868,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"timmins, ontario, canada",NaN,5
2,64f82f0e014264594d46d869,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ontario, canada",49.0,0
3,64f82f0e014264594d46d86a,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"n/a, n/a, n/a",NaN,8
4,64f82f0e014264594d46d86b,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"sudbury, ontario, canada",NaN,0
...,...,...,...,...,...,...,...,...,...,...
1031131,64f82f65014264594d569442,440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,"providence, rhode island, usa",26.0,7
1031132,64f82f65014264594d569443,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,"orem, utah, usa",12.0,4
1031133,64f82f65014264594d569444,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,"hopewell junction, new york, usa",55.0,0
1031134,64f82f65014264594d569445,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,"hopewell junction, new york, usa",55.0,0
1031135,64f82f65014264594d569446,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,"hopewell junction, new york, usa",55.0,0

In [18]:
df.drop(['_id'], axis=1, inplace = True)

In [21]:
df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location,Age,Book-Rating
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,"stockton, california, usa",18.0,0
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"timmins, ontario, canada",NaN,5
2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ontario, canada",49.0,0
3,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"n/a, n/a, n/a",NaN,8
4,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"sudbury, ontario, canada",NaN,0
...,...,...,...,...,...,...,...,...,...
1031131,440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,"providence, rhode island, usa",26.0,7
1031132,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,"orem, utah, usa",12.0,4
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,"hopewell junction, new york, usa",55.0,0
1031134,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,"hopewell junction, new york, usa",55.0,0
1031135,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,"hopewell junction, new york, usa",55.0,0

In [22]:
df = df.reset_index(drop=True)

In [1]:
import os

In [2]:
os.getcwd()

'e:\\Projects\\recommender_system\\research'