# Books Data EDA

In [13]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [14]:
warnings.filterwarnings('ignore')

In [15]:
data = pd.read_csv(r'../artifacts/data_ingestion/data.csv')

In [16]:
data.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location,Age,Book-Rating
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,"stockton, california, usa",18.0,0
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"timmins, ontario, canada",NaN,5
2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ontario, canada",49.0,0
3,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"n/a, n/a, n/a",NaN,8
4,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"sudbury, ontario, canada",NaN,0
5,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"toronto, ontario, canada",30.0,8
6,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"victoria, british columbia, canada",36.0,0
7,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ontario, canada",29.0,0
8,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ,",NaN,9
9,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"kingston, ontario, canada",NaN,9

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 9 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-L          1031132 non-null  object
 6   Location             1031136 non-null  object
 7   Age                  753301 non-null   float64
 8   Book-Rating          1031136 non-null  int64
dtypes: float64(1), int64(1), object(7)
memory usage: 70.8+ MB

In [18]:
data['Book-Rating'] = data['Book-Rating'].astype('int32')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 9 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-L          1031132 non-null  object
 6   Location             1031136 non-null  object
 7   Age                  753301 non-null   float64
 8   Book-Rating          1031136 non-null  int32
dtypes: float64(1), int32(1), object(7)
memory usage: 66.9+ MB

In [20]:
data.isnull().sum()

ISBN                        0
Book-Title                  0
Book-Author                 1
Year-Of-Publication         0
Publisher                   2
Image-URL-L                 4
Location                    0
Age                    277835
Book-Rating                 0
dtype: int64

In [21]:
data.drop('Age', axis=1, inplace=True)
data.dropna(axis=0, inplace=True)

In [22]:
data.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-L            0
Location               0
Book-Rating            0
dtype: int64

In [23]:
data.shape

(1031129, 8)

In [24]:
max_val = max(data['Book-Rating'])
min_val = min(data['Book-Rating'])

print(f"min and max value of Boot-Rating column: {min_val} & {max_val}")

min and max value of Boot-Rating column: 0 & 10

In [29]:
data.duplicated().sum()

24176

In [30]:
data.drop_duplicates(inplace=True)

In [32]:
data.duplicated().sum()

0

In [33]:
data.shape

(1006953, 8)

101585