In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'../artifacts/data_ingestion/data.csv')

C:\Users\deepa\AppData\Local\Temp\ipykernel_14844\115887715.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'../artifacts/data_ingestion/data.csv')

In [3]:
data

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location,Age,Book-Rating
0,0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,"stockton, california, usa",18.0,0
1,1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"timmins, ontario, canada",NaN,5
2,2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ontario, canada",49.0,0
3,3,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"n/a, n/a, n/a",NaN,8
4,4,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"sudbury, ontario, canada",NaN,0
...,...,...,...,...,...,...,...,...,...,...
1031131,1031131,440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,"providence, rhode island, usa",26.0,7
1031132,1031132,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,"orem, utah, usa",12.0,4
1031133,1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,"hopewell junction, new york, usa",55.0,0
1031134,1031134,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,"hopewell junction, new york, usa",55.0,0
1031135,1031135,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,"hopewell junction, new york, usa",55.0,0

In [4]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
data

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location,Age,Book-Rating
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,"stockton, california, usa",18.0,0
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"timmins, ontario, canada",NaN,5
2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"ottawa, ontario, canada",49.0,0
3,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"n/a, n/a, n/a",NaN,8
4,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,"sudbury, ontario, canada",NaN,0
...,...,...,...,...,...,...,...,...,...
1031131,440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,"providence, rhode island, usa",26.0,7
1031132,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,"orem, utah, usa",12.0,4
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,"hopewell junction, new york, usa",55.0,0
1031134,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,"hopewell junction, new york, usa",55.0,0
1031135,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,"hopewell junction, new york, usa",55.0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 9 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031134 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-L          1031132 non-null  object
 6   Location             1031136 non-null  object
 7   Age                  753301 non-null   float64
 8   Book-Rating          1031136 non-null  int64
dtypes: float64(1), int64(1), object(7)
memory usage: 70.8+ MB

In [10]:
data['Book-Rating'] = data.astype({'Book-Rating': 'int32'}).dtypes

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 9 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031134 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-L          1031132 non-null  object
 6   Location             1031136 non-null  object
 7   Age                  753301 non-null   float64
 8   Book-Rating          0 non-null        object
dtypes: float64(1), object(8)
memory usage: 70.8+ MB